<!DOCTYPE html>
{% load static %}
<html>
   <head>
      <title>{% block title %}PASTE{% endblock %}</title>
       <link href="{% static 'css/pastebin.css' %}" rel="stylesheet" type="text/css">
       <link href="{% static 'css/default.css' %}" rel="stylesheet" type="text/css">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  </head>
   <body>
      <div id="main_frame">
         {% include 'header.html' %}
         <div id="super_frame">
            <div id="monster_frame">
               <div id="content_frame">
                   <div id="content_left">
                       {% block content %}
                       {% endblock %}
                   </div>
               </div>
            </div>
         </div>
      </div>
      {% include 'footer.html' %}
    </body>
</html>
