<div id="footer">
 <div id="footer_links">
    <a href="/">create new paste</a> &nbsp;/&nbsp;
    <a href="">syntax languages</a> &nbsp;/&nbsp;
    <a href="">archive</a> &nbsp;/&nbsp;
    <a href="">faq</a> &nbsp;/&nbsp;
    <a href="">tools</a> &nbsp;/&nbsp;
    <a href="">night mode</a> &nbsp;/&nbsp;
    <a href="">api</a> &nbsp;/&nbsp;
    <a href="">scraping api</a>
    <br>
    <a href="">privacy statement</a> &nbsp;/&nbsp;
    <a href="">cookies policy</a> &nbsp;/&nbsp;
    <a href="">terms of service</a> &nbsp;/&nbsp;
    <a href="">security disclosure</a> &nbsp;/&nbsp;
    <a href="">dmca</a> &nbsp;/&nbsp;
    <a href="">contact</a>
    <br><br>
  </div>
</div>