<div id="header">
    <div id="header_wrap">
       <div id="header_top">
          <div id="header_logo" onclick="location.href='/'"><i class="fa fa-fw fa-terminal"></i>PASTE</div>
          <div id="header_new_paste" class="new_paste_button" onclick="location.href='/'"><i class="fa fa-fw fa-plus"></i>new paste</div>
          <div class="header_links_right">
             <a href="">API</a>
             <a href="">FAQ</a>
             <a href="">About</a>
          </div>
       </div>
    </div>
</div>